
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Neue Fähigkeit hinzufügen</h2>
<form method="post">
    <label>Fähigkeitstitel</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Fähigkeitssymbol</label>
    <input type="text" name="Icon" class="form-control" />
    <br />
    <label>Fähigkeitswert</label>
    <input type="text" name="Value" class="form-control" />
    <br />
    <button class="btn btn-info">Fähigkeit Erstellen</button>
</form>
