@model List<Projekt1Portfolio.Models.Tbl_Skill>


@{
    ViewBag.Title = "SkillListe";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Liste meiner Fähigkeiten</h2>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Titel</td>
        <td>Wert</td>
        <td>Löschen</td>
        <td>Aktualisieren</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.Title</td>
            <td>@item.Value</td>
            <td> <a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Löschen</a></td>
            <td> <a href="#" class="btn btn-success">Aktualisieren</a></td>
        </tr>
    }
</table>

<a href="/Skill/CreateSkill" class="btn btn-info">Neue Fähigkeit hinzufügen</a>
