// Model tablosundan getrirs.
@model List<Projekt1Portfolio.Models.Tbl_Skill>


@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Yeteneklerimin Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Baslik</td>
        <td>Deger</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.Title</td>
            <td>@item.Value</td>
            <td> <a href="#" class="btn btn-danger">Sil</a></td>
            <td> <a href="#" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

// link olustur
<a href="#" class="btn btn-info">Yeni Yetenek Girisi</a>


     