@model Projekt1Portfolio.Models.Tbl_Category
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('/Lebeslauf/Foto KA.jpg');"></a>

        <ul class="list-unstyled components mb-5">

            <li><a href="/Profile/About">Über Mich</a>
            <li><a href="/Category/CategoryList">Kategorie</a>
            <li><a href="/Education/EducationList">Bildung</a>
            <li><a href="/Experience/ExperienceList">Erfahrung</a>
            <li><a href="/Message/Inbox">Eingehende Nachrichten</a>
            <li><a href="/Service/ServiceIndex">Dienstleistungen</a>
            <li><a href="/Skill/SkillList">Meine Fähigkeiten</a>
            <li><a href="/Skill/SkillGraph">Mein Skillgraph</a>
            <li><a href="/Testimonial/TestimonialList">Meine Referenzen</a>
            <li><a href="/Statistics/Index">Statistics</a>
            <li><a href="/Setting/Index">Einstellungen</a>
            <li>
                <a href="/Default/Index">Abmelden</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>