
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Kategorie-ID</th>
            <th>Kategoriename</th>
            <th>Kategoriezustand</th>
            <th>Details</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Obst und Gemüse</td>
            <td>Aktiv</td>
            <td><button class="btn btn-info">Details</button></td>
        </tr>

        <tr>
            <td>2</td>
            <td>Elektronik</td>
            <td>Passiv</td>
            <td><button class="btn btn-info">Details</button></td>
        </tr>
    </table>

</div>