@model List<Projekt1Portfolio.Models.Tbl_Category>
@{
    Layout = "~/Views/Admin/Index.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Kategoriename</th>
            <th>Kategoriezustand</th>
            <th>Löschen</th>
            <th>Aktualisieren</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.CategoryStatus</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Löschen</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning">Aktualisieren</a></td>
            </tr>
        }
    </table>

    <a href="/Category/CreateCategory/" class="btn btn-info">Kategorie hinzufügen</a>
</div>
