
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<h3 class="alert alert-info">Neue Kategorie hinzufügen</h3>

<label>Kategoriename</label>
<input type="text" id="txtCategoryName" class="form-control" />
<br />
<label>Kategoriebeschreibung</label>
<input type="text" id="txtCategoryDescription" class="form-control" />
<br />
<label>Kategoriewert</label>
<input type="text" id="txtCategoryValue" class="form-control" />
<br />
<button>Kategorie erstellen</button>



