@model Projekt1Portfolio.Models.Tbl_Category    
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <h3 class="alert alert-info">Neue Kategorie hinzufügen</h3>

    <label><strong>Kategoriename</strong></label>
    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
    <br />
    <label><strong>Kategoriebeschreibung</strong></label>
    <input type="text" class="form-control" />
    <br />
    <label><strong>Kategoriewert</strong></label>
    @Html.TextBoxFor(x => x.CategoryStatus, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kategorie erstellen</button>

</div>

