
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<h3 class="alert alert-success">Neue Kategorie hinzufügen</h3>

<label>Kategoriename</label>
<input type="text" id="txtCategoryName" />
<br />
<label>Kategoriebeschreibung</label>
<input type="text" id="txtCategoryDescription" />
<br />
<label>Kategoriewert</label>
<input type="text" id="txtCategoryValue" />
<br />
<button>Kategorie erstellen</button>




